*{
    margin: 0;
    padding: 0;
}
/* this is for my background page */
.header{
   /* background-position: center center;
    position:relative; */
}
.back-image{
  height: 200px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

/* for both logo and navlink uneditted */
 nav   {
    display: flex;
    padding: 1% 1%;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-top: -70px;
    padding-left: -70px;
    margin-top: -20px;
    position: fixed;
    width: 100%;
    z-index: 3;

 }
 /* for my logo */
 nav img{
    width: 50px;
    height: 5;
    margin-top: 20px;
    margin-left: -50px;
 }
 nav a{
  text-decoration: none;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  
 }

 .nav-area{
    flex: 1;
    text-align: center;
 }
  .nav-area ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    
    
  }
  .nav-area ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
  }

  .nav-area .active{
    border: 1px solid black;
    border-radius: 4px;
    font-weight: 600;
  }
  .nav-area ul li::after{
     content:'' ;   
     width: 0%;
     height: 2px;
     background: rgb(25, 27, 168);
     display: block;
     margin: auto;
     transition: 0.5s;  
  }
  .nav-area ul li:hover::after{
    width: 100%;
  }
  .vision-btnn{
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: transparent;
    background-color: rgb(29, 31, 56);
    backdrop-filter: 10px(blur);
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    /* margin-top: 10px; */
    bottom: 460px;
    left: 620px;
  }
  .vision-btnn:hover{
    background-color: white;
    transition: 1s;
  }

  .opening-text{
    bottom: 300px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: 1;
    margin-top: -9px;
  }  
  .opening-text h1{
    color:#fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    font-weight: 100;
    text-align: center;
    line-height: 1.2;
    
  }
  .watch-btnn{
    text-decoration: none;
    color:black;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    display: inline-block;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    margin-top: 60px;
    left: 610px;
  }
   .watch-btnn:hover{
    background-color: rgb(255, 127, 127); ;
    transition: 1s;
   }
   .building-statement{
    height: 100vh;

   }
   .buildingstatement-btnn{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    background-color: chocolate;
    padding: 10px 20px;
    color: #fff;
    border-radius: 25px;
    position: relative;
    bottom: 90px;
    display: inline-block;
    
   }
   .build-btn{
    text-align: center;
   }
   .welcome-btnn{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    background-color: silver;
    padding: 5px 10px;
    color:black;
    border-radius: 25px;
    position: relative;
    margin-top:10px;
   }

   .welcome-btnn:hover{
    background-color:rgb(245, 139, 139);
    transition: 1s;
   }
   .wel-btn{
    padding:10px 20px 10px 20px;
   }
   .wel-btn h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 10;
    font-size: 40px;
   }
    /* first image */
   .img-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding:20px;
    width: 100%;
    box-sizing: border-box;

   }
   .img-cont{
    position: relative;
    flex: 1 1 25px;
    width: 250px;
    margin: 10px;
   }
    .img-cont img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(50%);
      display: block;
    }
    .top-text{
      position: absolute;
      bottom: 460px;
      left: 10px;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
    }
    .learn-btnn{
      position: absolute;
      bottom: 10px;
      left: 18%;
      transform: translate(-50%);
      background: none;
      border:none;
      outline: none;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;

    }
    .campus{
      background: black;
      background-position:center;
      background-size: cover;
      height: 70vh;
      text-align: center;
      padding: 140px 20px;
    
    
    }
    .global-campus-btn{  
      color: #fff;
      padding: 5px 10px;
      border-radius: 25px;
      text-decoration: none;
      font-size: 12px;
      background-color:transparent;
      filter: blur(1px);
      border: 1px solid white;
      cursor: pointer;
      

    }
     .campus h1{
      color: #fff;
      text-align: center;
      display: block;
      font-size: 50px;
      margin-top: 40px;
      font-weight:lighter;
      font-family: Impact,'Arial Narrow Bold', sans-serif;
     }
     .sub-text{
      color: #ccc;
      font-size: 17px;
      margin-top: 40px;
     }
     .campus-btn{
      margin-top: 20px;
      padding: 5px 15px;
      border: 1px solid #fff;
      background: transparent;
      color: #fff;
      border-radius: 25px;
      cursor: pointer;

     }
     .campus-btn:hover{
    background-color:rgb(245, 139, 139);
    transition: 1s;
    border: none;
     }
     /* visit us */
     .visit-us{
      background: black;
      height: 70vh;
      margin-top: -30px;
     }
     .visit-us h1{
      color: #fff;
      font-weight: bolder;
      font-family: Arial, Helvetica, sans-serif;
     }
     .visit-image{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
     }
     .image-row2{
      display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;

     }
     .image-cont2{
      flex: 1 1 25px;
    position: relative;
    width: 150px;
    margin: 10px;
     }
     .image-cont2 img{
      width: 100%;
      height: 200%;
      object-fit: cover;
      filter: brightness(50%);
      
     }
     .bottom-text{
      color: #fff;
      position: absolute;
      bottom:-140px;
      left: 10px;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;

     }
     .boast{
    background: black;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: #fff;
     }
     .boast-text{
      padding: 70px;
      line-height: 1.3;
     }
     .boast h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    font-weight: 100;
    padding-top: 50px;
    line-height: 1;
  }
  .boast p{
    padding-top: 15px;
    bottom: 14px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
  }
  .boast-btnn{
    background-color: rgb(219, 113, 113);
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
  }
   .boast-btnn:hover{
    background-color:rgb(10, 10, 28);
    transition: 1s;
    border: none;
  }
   .com-background{
    background-color: #fff;
    background-position: center;
    background-size: cover;
    height: 100vh;
   }
   .com-text{
    color: black;
    text-align: center;
    margin-top: 80px;
   }
   .com-text h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 40px;
   }
   .com-text p{
    font-family:Arial, Helvetica, sans-serif;
    color: silver;
    font-weight: 200;
    margin-top: 10px;
   } 

   .com-btnn{
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
   }
   .com-btnn:hover{
    background-color:rgb(10, 10, 28);
    transition: 1s;
    color: #fff;
    border: none;
   }
  /* 3rd image */
  .img-row3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding:20px;
    width: 100%;
    box-sizing: border-box;
    
   }
  
   .img-cont3{
    position: relative;
    flex: 1 1 25px;
    width: 250px;
    margin: 10px;
   }
    .img-cont3 img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 6px;
      display: block;
    }
    .img-cont3 h4{
      font-weight: 200px;
      margin-top: 9px;
      font-family: Arial, Helvetica, sans-serif;
      
    }
    .img-cont3 p{
      color:rgb(128, 124, 124);;
      font-weight: bolder;
      margin-top: 10px;
      font-size: 16px;
      font-family:Arial, Helvetica, sans-serif
    }
    .lead-background{
      background:black;
      margin-top: 110px;
      background-position: center;
      background-size: cover;
      height: 90vh;
      margin-top: 90px;
    }
    .lead-text{
      flex: 1;
      color:rgb(128, 124, 124);
      text-align: center;
      font-size: 20px;
      line-height: 1.5;
      margin-top: -60px;


    }
    .lead-text p{
      padding: 20px 40px;
      padding-top: 90px;
    }
    .lead-img{
      float: left;
    }
    .logo{
      color: white;
      text-align: center;

    }
    .logo img{
      padding-left: 20px;
      width:90px;
      margin-top: 90px;
      margin-bottom:-38px;
      margin-right: 29px;
    }
    .global{
      font-size: 10px;
    }    
    
    .read-btnn{
      border: 1px solid white;
      background: transparent;
      color: #fff;
      padding: 10px 20px;
      border-radius: 25px;
      margin-top: 20px;
      font-weight: bold;
      cursor: pointer;
    }
    .read-btnn:hover{
      background-color: #ccc;
      transition: 1s;
      }
    .ministries{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     background: white;
     padding: 60px 20px;
     align-items: center;
    }
    .ministries-text{
      flex: 1;
      min-width: 300px;
      
    }
    .ministries-text h4{
      font-size: 14px;
      letter-spacing: 1px;
      color: #555;
    }
    .ministries-text h2{
      font-size: 32px;
      line-height: 1.4;
    }
    .highlight{
      color: #d9534f;
      font-weight: bold;
    }
    .btn{
      display: inline-block;
      margin-top: 20px;
      padding: 10px 25px;
      border: 2px solid black;
      border-radius: 25px;
      text-decoration: none;
      color: black;
      font-weight: 600;
    }
    .ministries-cards{
      display: flex;
      gap: 20px;
      flex: 1;
      flex-wrap: wrap;
      justify-content: center;
    }
    .card{
      width: 200px;
      background: #fff;
      border-radius: 8px;
      overflow: hidden;
      text-align: center;
      
    }
    .card img{
      width: 100%;
      height: 220px;
      object-fit: cover;
    }
    .card h3{
      margin: 10px 0 5px;
      font-size: 16px;
    }
    .card p{
      font-size: 14px;
      color: #777;
      margin-bottom: 15px;
    }
    
    .img-row4{
    border: 1px solid black;
    }
    /* GIVE  */
      .mailing-section{
      background: #7C1D1D;
      color: white;
      padding: 80px 20px;
      text-align: center;
     }
     .mailing-section h2{
      font-size: 2rem;
      letter-spacing: 3px;
      margin-bottom: 10px;
     }
     .mailing-section p{
      font-size: 20px;
      margin-bottom: 40px;
     
     }
     .mailing-section form{
      display: flex;
      justify-content: center;
      gap: 10px;
       
     } 
     .mailing-section form input{
      border-radius: 20px;
      width: 400px;
      height: 40px;
      background-color:#d8d1d1;
      border: none;
      
     }
      .mailing-section button{
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        background: white;
        color: red

      }



     
  

    

     

    
 
   


    
  